/* HEADER */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.site-header {
    margin: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header h1 a {
    text-decoration: none;
    color: #E4481F;
}

.navigation ul div {
    display: flex;
}

.navigation ul {
    display: flex;
    align-items: center;

    li {
        display: block;
        padding-left: 2em;

        a {
            text-decoration: none;
            color: #E4481F;
        }
    }
}

.basket-indicator {
    margin-left: auto;
    padding: 0.5rem;
    color: #c4c4c4;
    transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.basket-indicator.updated {
    font-weight: bold;
    color: #666666;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.welcome-msg {
    width: 50dvw;
    margin: 3em;
    line-height: 1.6em;
}

.welcome-msg h2 {
    line-height: 1.6;
    font-weight: 100;
}

/*GENERAL CONTAINER TO CENTER FORMS/MESSAGES*/

.main-content {
    margin: 2em;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    margin: 0;
    padding: 2em;
}

.buttons {
    display: flex;
    gap: 1em;
}

button {
    width: 100%;
    padding: 1em;
    background-color: #e67154bb;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1rem;
    z-index: 100;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.formAuth {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 2em;
    padding: 2em;
    border: 1px solid #ccc;
    background: white;

    .input-group {
        width: 100%;
        height: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input,
    textarea,
    select {
        width: 80%;
        padding: 1em;
        height: 3em;
        border: 1px solid #ccc;
        border-radius: 0.5em;
        resize: none;
    }

    label {
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    button {
        width: 80%;
    }
}

.formData {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    max-width: 1200px;
    padding: 2em;
    margin: 2em auto;
    border: 1px solid #ccc;
    background: white;
    margin-bottom: 2em;

    .formSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .input-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0.5em 0;
    }


    input,
    textarea,
    select {
        width: 100%;
        height: 4em;
        border: 1px solid #ccc;
        border-radius: 0.5em;
        padding: 1em;
        font-size: 0.8rem;
        resize: none;
    }

    label {
        margin-bottom: 0.5em;
        font-size: 0.8rem;
        white-space: nowrap;
        overflow: visible;
        font-weight: bold;
    }

    button {
        height: 3.3em;
        margin: 1.2em 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.addElementForm {
    padding-top: 1em;
    padding-bottom: 1em;
}

.register-link {
    text-align: center;
    margin-top: 2em;
}


/* PROJECT DETAILS */

.content-container {
    max-width: 100dvw;
    display: flex;
    gap: 2em;
    margin: 0 1em;
    z-index: -10;
}

main {
    flex: 0 0 5%;
}

.project-info {
    display: flex;
    gap: 2em;

    h5 {
        padding: 0
    }
}

aside {
    display: flex;
    flex-direction: column;
    flex: 0 1 95%;
    /* gap: 1em */
}

.project-details {
    display: flex;
    gap: 2em;
}

h5.project-details-side {
    color: #000000;
    margin: 0;
    padding: 0.5em 0;
    max-height: 4em
}

p.project-details-side {
    color: #000000;
    font-weight: 100;
    margin: 0;
    padding: 0.5em 0;
    max-height: 3em
}

.project-details-buttons {
    width: 100%;

    button {
        width: 15em;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    text-decoration: none;
    scroll-snap-type: y proximity;
    margin-bottom: 1em;

    &::after,
    li.gallery-img {
        flex: 1 1 300px;
        display: block;
    }

    &::after {
        content: '';
    }

    &:has(li:hover) li {
        opacity: 0.2;

        &:hover {
            opacity: 1;
        }
    }

    li {
        transition: opacity 0.3s ease-in-out;
    }
}

.gallery li.gallery-img {

    a {
        display: block;
        aspect-ratio: 16/9;
        overflow: hidden;
        position: relative;
        scroll-snap-align: center;
        margin-bottom: 0.5em;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: -1;
    }

}

section.description {
    color: #000000;
    display: flex;
    gap: 2em;
}

section h2,
h3,
h5 {
    padding-bottom: 1em;
}

section.description p {
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 1em;
}

/* REUSE INVENTORY SECTION */

.container-add-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formAddElement {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: left;
    max-width: 500px;
    padding: 2em;
    border: 1px solid #ccc;
    background: white;

    .input-group {
        height: 3em;
        display: flex;
        gap: 2em;
        align-items: center;
    }

    input,
    textarea,
    select {
        width: 80%;
        padding: 1em;
        height: 4em;
        border: 1px solid #ccc;
        border-radius: 0.5em;
        resize: none;
    }

    label {
        font-weight: bold;
        margin-bottom: 0.5em;
        flex: 0 1 100px
    }

    button {
        width: 100%;
    }
}

.elements-table {
    gap: 2em;
    margin: 2em 1em;
}

.basket-table {
    gap: 2em;
    margin: 2em 1em;
    max-width: 60%
}

.inventory-table-container {
    margin-bottom: 2em;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}

th,
td {
    width: 40px;
    border: 1px solid black;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.3em
}

th {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    hyphens: inherit;
    background-color: #f2f2f2;
}

.arrow-cell {
    width: 30px;
    background-color: #f1bdb0bb;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}


th.arrow-cell {
    border-bottom: none;
    background-color: #f1bdb0bb;
}

tr.element:hover {
    background-color: #f1bdb0bb;
    /* cursor: pointer; */
    transition: background-color 0.2s ease;
}

tbody tr:first-child td.arrow-cell {
    border-top: none;
}

.arrow {
    display: inline-block;
    font-size: 1.5em;
    color: #e67154bb;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(90deg);
}

.vertical-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 0.5em;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-weight: bold;
    font-size: 0.75rem;
    color: #e67154bb;
}

.arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    width: auto;
    padding: 0;
    color: inherit;
    font-size: 1rem;
    z-index: 200;
}

/* CATEGORIES ELEMENTS SECTION */

.elements-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    z-index: 100;
}

.elements-categories section {
    display: flex;
    background-color: #c2c2c263;
    padding: 2em;
    flex: 0 0 28dvw;
    box-sizing: border-box;
    margin: 1em;
}

.elements-category {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1em;
    margin-top: 1em;
}

.elements-category ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.elements-category li {
    margin: 0;
}

.elements-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 200px;
    flex-direction: column;
    flex: 0 0 200px;
    margin: 0.5em;
    padding: 1em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: left;
}

.element-property {
    width: 100%;
    text-align: left;
    line-height: 1.6rem;
}

.elements-individual {
    font-weight: bold;
    color: #E4481F;
    padding-bottom: 1em;
    width: 100%;
}

.centered-arrow {
    flex-grow: 0;
    margin: 0 0.5em;
    color: #e67154bb;
    transform: rotate(90deg);
}

.search-box {
    margin: 0 1em;
    max-width: 700px;
    border: 1px solid #ccc;
    display: flex;
}

.respSearchForm {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: flex-start;
    margin-bottom: 0;
    border: none;
    width: 100%;
    padding: 1em;
    flex-wrap: wrap;

    button {
        
    }
}

.choice input[type="checkbox"] {
    display: none;
}

.choice {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
}

.choice .checkbox-mark {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}

.choice .checkbox-mark::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: transparent;
    transition: all 0.2s ease;
}

.choice input[type="checkbox"]:checked+.checkbox-mark::before {
    background-color: #e67154bb;
    border-color: #e67154bb;
}

/* ELEMENTS CATALOG SECTION */
.elements-catalog {
    display: flex;
    gap: 2em;
}

.elements-item {
    flex: 1 1 200px;
    text-decoration: none;
    padding: 1em;

}

.hover-modal {
    position: absolute;
    top: -2%;
    left: 80%;
    background-color: #ffcabe;
    color: #666666;
    padding: 1em;
    border: 1px solid #e98166cb;
    width: 250px;
    z-index: 500;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    line-height: 1.6rem;
}

.elements-item:hover .hover-modal {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.hover-modal::before {
    content: "";
    position: absolute;
    top: 1em;
    left: -2em;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 2em solid #e98166cb;
}

.small-button {
    width: 100px;
    padding: 0.5em;
    background-color: #e98166cb;
}

.elements-item .small-button {
    margin-top: 0.3em;
}

.table-highlight {
    background-color: #e671546c;
    font-weight: bold;
}


/* FOOTER SECTION */
.site-footer {
    margin: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    padding: 1em;

    >* {
        padding: 0;
    }
}

/* RESPONSIVE SECTION */

@media(max-width: 800px) {
    .body {
        overflow: hidden
    }

    .content-container {
        flex-direction: column;
    }

    .project-info {
        flex-direction: column;
    }

    .project-details-side {
        flex-direction: column;
    }

    section.description {
        flex-direction: column;
    }

    .elements-catalog {
        flex-direction: column;
    }

    .gallery {
        gap: 0.5em;
        justify-content: center;
    }

    .gallery li.gallery-img {
        /* max-width: calc(60% - 0.5em); */
    }

    .gallery figcaption {
        bottom: 0.3em;
        right: 0.5em;
        font-size: 0.5rem;
    }

    section.threeDcontent {
        order: 2;
    }


    .container-add-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%
    }

    .formAddElement {
        width: 100%;
        max-width: 100%;

    }

    .elements-categories {
        justify-content: center;
        flex-direction: column
    }

    .elements-categories section {
        width: 85dvw;
    }

    .respSearchForm {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media(min-width: 2000px) {

    .gallery {
        li.gallery-img {
            min-width: 600px;
        }

        &::after {
            display: none;
        }
    }
}