/* HEADER */

.site-header {
    margin: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header h1 a{
    text-decoration: none;
    color: #E4481F;
}

.navigation ul div {
    display: flex;
}

.navigation ul {
    display: flex;
    align-items: center;

    li {
        display: block;
        padding-left: 2em;
        
        a {
            text-decoration: none;
            color: #E4481F;
        }
    }
}

/*GENERAL CONTAINER TO CENTER FORMS/MESSAGES*/

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    padding: 2em;
    text-align: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    padding: 1em;
    border: 1px solid #ccc;
    background: white;
    margin: 2em;
}
 
.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
 
label {
    margin-bottom: 0.5em;
    font-weight: bold;
}
 
input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}
 
button {
    width: 100%;
    padding: 10px;
    background-color: #e67154;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1rem;
}
 
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
 
.register-link {
    text-align: center;
    margin-top: 2em;
}

/* PROJECT DETAILS */

.content-container {
    max-width: 100dvw;
    display: flex;
    gap: 2em;
    margin: 0 1em
}

main {
    flex: 0 0 60%;
}

aside {
    display: flex;
    flex-direction: column;
    flex: 0 1 40%;
    gap: 1em
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    text-decoration: none;
    scroll-snap-type: y proximity;

    &::after,
    li.gallery-img {
        flex: 1 1 300px;
        display: block;
    }
    
    &::after {
        content: '';
    }

    &:has(li:hover) li {
        opacity: 0.2;

        &:hover {
            opacity: 1;
        }
    }

    li {
        transition: opacity 0.3s ease-in-out;
    }
}

.gallery li.gallery-img {
    
    a {
        display: block;
        aspect-ratio: 16/9;
        overflow: hidden;
        position: relative;
        scroll-snap-align: center;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: -1;
    }

}

section.description {
    color: #000000;
}

section h2,
h3,
h5 {
    padding-bottom: 1em;
}

section.description p {
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 1em;
}

/* REUSE INVENTORY SECTION */

.reuse-elements-inventory {
    gap: 2em;
    margin: 2em 1em
}

.inventory-table-container {
    margin-bottom: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* FOOTER SECTION */

.site-footer {
    margin: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    padding: 1em 0;

    > * {
        padding: 0;
    }
}

/* ELEMENTS CATALOG SECTION */

.elements-catalog {
    display: flex;
    gap: 2em;
}

.elements-item {
    text-decoration: none;
}

/* RESPONSIVE SECTION */

@media(max-width: 800px) {
    .body {
        overflow: hidden
    }

    .content-container {
        flex-direction: column;
    }

    .gallery {
        gap: 0.5em;
    }

    .gallery li.gallery-img {
        max-width: calc(50% - 0.5em);
    }

    .gallery figcaption {
        bottom: 0.3em;
        right: 0.5em;
        font-size: 0.5rem;
    }

    section.threeDcontent {
        order: 2;
    }
}

@media(min-width: 2000px) {

    .gallery {
        li.gallery-img {
            min-width: 600px;
        }

        &::after {
            display: none;
        }
    }
}