@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: clamp(12px, 12px + 0.2vw, 18px);
    font-family: "DM Sans", sans-serif;
}

body, input, button, select, textarea, table {
    font: inherit;
}


h1, h2, h3, h4, h5, h6 {
    color: #E4481F;
}

img {
    width: 100%;
    height: auto;
    display: block;
}